.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  overflow: hidden;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.grid-item-1 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  min-width: 500px;
  align-items: center;
  justify-items: center;
  padding: 20px;
}

.grid-item-2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  grid-column: 1/2;
}

.grid-item-3 {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  grid-column: 2/7;
  min-width: 200px;
  padding: 10px;
  gap: 10px;
}

.grid-item-4 {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  grid-column: 2/7;
  min-width: 200px;
  align-items: center;
  justify-content: center;
}

.option-tab {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.option-tab button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  opacity: 1;
}

.option-tab button.active {
  background-color: rgb(56, 158, 136);
  color: white;
}
  
.option-content {
  border: 1px solid #ccc;
  text-align: center;
}

.colorpicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.colortextinput{
  max-width: 100px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 0px 10px;
  border: 1px solid #ccc;
  height: 50px;
  margin-bottom: 10px;
}

.search-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.search-img {
  flex: 1;
  background-color: transparent !important;
  border: none !important;
  outline: none;
  height: 30px;
  margin: 0 !important;
}

.show-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow: hidden;
}

.img-img {
  width: 100%;
  cursor:pointer;
  transition: opacity 0.3s;
}

.img-img:hover {
  opacity: 0.7;
  border: 2px solid #ff0000;
}

.container-1 {
  width: 450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.tshirt {
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.canvas {

  width: 210px;
  max-width: 210px;
  height: 340px;
  top: 140px;
  left: 120px;
  position: absolute;
  background-color: transparent;
  overflow: hidden;
}

.text-container {
  position: absolute;
}

.textinput {
  display: block;
  position: absolute;
  cursor: pointer;
  outline: none;
  background: none;
  border: transparent;
}

.textbox {
  position: absolute;
  background-color:white;
}

.imgbox {
  position: absolute;
  cursor: pointer;
}

.display-image {
  display: block;
  position: absolute;
  cursor: pointer;
  outline: none;
  background: none;
  border: transparent;
}

.img-container {
  position: absolute;
}

.remove-icon {
  position: absolute;
  top: calc(0% - 15px); /* Adjust the vertical position relative to the text element */
  left: calc(100% - 15px); /* Adjust the horizontal position relative to the text element */
  color: red; /* Customize the button's text color */
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: none;
}

.decrease-icon {
  position: absolute;
  top: calc(0% - 15px); /* Adjust the vertical position relative to the text element */
  left: calc(100% + 15px); /* Adjust the horizontal position relative to the text element */
  color: gray; /* Customize the button's text color */
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: none;
  background-color: white;
}

.increase-icon {
  position: absolute;
  top: calc(0% - 15px); /* Adjust the vertical position relative to the text element */
  left: calc(100% + 35px); /* Adjust the horizontal position relative to the text element */
  color: gray; /* Customize the button's text color */
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: none;
  background-color: white;
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checkout-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-color: white;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.checkout-popup h2 {
  text-align: center;
  margin-bottom: 10px;
}

.checkout-popup button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.info-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 30px;
  margin: 10px;
}

.info-grid-item {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.info-grid-item div {
  display: flex;
  justify-content: space-between;
}

.payment-qr {
  position: relative;
  width: 100%;
}

.text-list-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow:hidden;
}

.text-list:hover {
  background-color: aqua;
}

.text-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}