/* DesignLab.css */

.container2 {
    display: flex;
    align-items: center; /* Align items to the top */
    flex-direction: row;
    padding: 20px;
}
  
  .option-tab-container {
    display: flex;
    flex-direction: row;
  }
  
  .option-tab {
    display: flex;
    flex-direction: column;
  }
  
  .option-tab button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .option-tab button.active {
    background-color: rgb(56, 158, 136);
    color: white;
  }
  
  .option-content {
    width: 500px; /* Set the width to 100% of the container */
    height: 500px; /* Set the height to 100% of the container */
    border: 1px solid #ccc; /* Example border to visualize the content */
    padding: 20px; /* Add padding inside the content */
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
  }
  /* Add additional styling for option contents as needed */
  